<div class="container-fluid">
    <h6><b><i>UPDATING PASS PERCENTAGE</i></b></h6>
    <form (ngSubmit)="updatePassPercentageDetails()">
      <table class="table table-bordered">
        
        <tr>
            <th>PASS PERCENTAGE</th>
            <td><input type="number" class="form-control"  name="passPercentage"
              [(ngModel)]="classDetail.passPercentage"></td>
        </tr>
    
        </table>
        <button id="margin" type="submit" class="btn btn-success">UPDATE</button>
        <button id="align" type="reset"  class="btn btn-danger">RESET</button>
      </form>
    </div>
