<div class="container-fluid">
    <h4 style="text-align: center;"><b><i>VIEWING STUDENT DETAILS</i></b></h4>
 <form [formGroup]="GetStudentForm" #saveSubjectClassForm>
  <table  style="margin-left:7cm;width:60%;"  class="table table-striped" >  
        
        <tr>
            <th>CLASSES</th>
            <td><select class="custom select" class="form-control" name="classes" (change)=getSubjects() formControlName="classes">
                <option value="">Select Classes</option>
                 <option *ngFor = "let class of classList">{{class.standard}}-{{class.section}}</option>
              </select>
              </td>  
        </tr>
        <tr>
            <th>SUBJECTS</th>
            <td><select class="custom select" class="form-control" name="subjectCode"  formControlName="subjectCode">
                <!-- <option value="">Select Subjects</option> -->
                 <option *ngFor = "let subjectCode of subjectList" value="">{{subjectCode}}</option>
              </select>
              </td>  
        </tr>
    </table>
    <!-- <button style="margin-left:15.25cm" type ="submit" class="btn btn-success" value="GET STUDENTS">GET STUDENTS</button> -->
    <br>
    <br>
<table *ngIf ="length>0" style="margin-left:7cm;width:60%;"  class="table table-striped">
<thead>
    <tr>
        <th>ROLL NO</th>
        <th>NAME</th>
        <th>DATEOFBIRTH</th>
        <th>GENDER</th>
        <th>ADDRESS</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let student of studentList">
        <td>{{student.rollNo}}</td>
        <td>{{student.name}}</td>
        <td>{{student.dateOfBirth}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.address}}</td>
    </tr>
</tbody>
</table>
</form>
