.m-3 {
    /* margin: 1rem!important; */
    margin-left: 9cm !important;
    margin-right:7cm !important;
    margin-top: 2cm !important;
    /* width: 15cm; */
}

.card-text:last-child {
    margin-bottom: 5;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
label
{
 margin-left: 1cm;
 text-align:left;
}
legend
{
 margin-left: 1cm;
 text-align:left;  
}
h5
{
  text-align:center;
}
#margin
{
    margin-left: 1cm;
}