<h4><b><i> PERSONAL DETAILS </i></b></h4>
<table  class="table table-bordered">
    <tbody>
            <tr><td><b>ID</b></td><td>{{teacherDetail.id}}</td></tr>
            <tr><td><b>NAME</b></td><td>{{teacherDetail.name}}</td></tr>
            <tr><td><b>DATE OF BIRTH</b></td><td>{{teacherDetail.dateOfBirth}}</td></tr>
            <tr><td><b>GENDER</b></td><td>{{teacherDetail.gender}}</td></tr>
            <tr><td><b>QUALIFICATION</b></td><td>{{teacherDetail.qualification}}</td></tr>
            <tr><td><b>EMAIL</b></td><td>{{teacherDetail.email}}</td></tr>
            <tr><td><b>ADDRESS</b></td><td>{{teacherDetail.address}}</td></tr>
            <tr><td><b>CONTACT NO</b></td><td>{{teacherDetail.contactNo}}</td></tr>
    </tbody>
</table>
<button id="align" type=submit class="btn btn-primary" (click)=update()>UPDATE</button>

