<div class="container-fluid">
    <h6><b><i>UPDATING MARK DETAILS</i></b></h6>
    <form [formGroup]="UpdateMarkForm" #saveSubjectClassForm (ngSubmit)=updateMark()>
        <table class="table table-striped">
            <tr>
                <th>MARK</th>
                <td><input type=number placeHolder="Enter Mark" class="form-control" name="mark" formControlName="mark">
                </td>
            </tr>
            <tr>
                <th>TERM TYPE</th>
                <td><select class="custom select" class="form-control" name="termType" formControlName="termType">
                        <option value="">Select Term</option>
                        <option *ngFor="let term of termList">{{term}}</option>
                    </select></td>
            </tr>
        </table>
        <button id="margin" type="submit" class="btn btn-success">UPDATE</button>
    </form>
    </div>
