<div class="container-fluid">
  <h4><b><i>ADDING SUBJECT DETAILS</i></b></h4>
  <form [formGroup]="AddSubjectForm" #saveSubjectForm (ngSubmit)=saveSubject()>
    <table class="table table-striped">
      <tr>
        <th>CODE</th>
        <td><input type="text" class="form-control" placeholder="Enter code" name="code" formControlName="code" required></td>
      </tr>

      <tr>
        <th>NAME</th>
        <td><input type="text" class="form-control" placeholder="Enter name" name="name" formControlName="name" required></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <button [disabled]="!AddSubjectForm.valid" type="submit" class="btn btn-success">ADD</button>
          <button type="reset" class="btn btn-primary">RESET</button>
        </td>
      </tr>
    </table>

  </form>
</div>