<div class="container-fluid">
  <h6><b><i>UPDATING CLASSROOM DETAILS</i></b></h6>
  <form (ngSubmit)="updateClassDetails()">
    <table class="table table-striped">
      <tr>
        <th>ROOM NO</th>
        <td><input type="number" class="form-control" name="roomNo" [(ngModel)]="classDetail.roomNo"></td>
      </tr>
      
      <tr>
        <th>STANDARD</th>
        <td><input type="text" class="form-control" name="standard" [(ngModel)]="classDetail.standard"></td>
      </tr>

      <tr>
        <th>SECTION</th>
        <td><input type="text" class="form-control" name="section" [(ngModel)]="classDetail.section"></td>
      </tr>


    </table>
    <button id="margin" type="submit" class="btn btn-success">UPDATE</button>
    <button id="align" type="reset" class="btn btn-danger">RESET</button>
  </form>
</div>