<body>
   <div >
    <div>
      <button class="bt btn-default" style="border:none;background-color:white;margin-left:8cm;margin-top:5cm"><a href="headMasterLogin"><i class="fa fa-user" placeholder="HeadMaster" aria-hidden="true" style="font-size:3cm;color:violet"></i></a></button>
      <button class="bt btn-default" style="border:none;background-color:white;margin-left:5cm;margin-top:5cm"><a href="teacherlogin"><i class="fa fa-user" placeholder="HeadMaster" aria-hidden="true" style="font-size:3cm;color:violet"></i></a></button>
      <button class="bt btn-default" style="border:none;background-color:white;margin-left:5cm;margin-top:5cm"><a href="loginforstudent"><i class="fa fa-user" placeholder="HeadMaster" aria-hidden="true" style="font-size:3cm;color:violet"></i></a></button>
    </div>
    <div>
        <h5 style="color:purple;margin-left:8cm">HeadMaster</h5>
        <h5 style="color:purple;margin-left:15.9cm;margin-top:-0.9cm">Teacher</h5>
        <h5 style="color:purple;margin-left:23.2cm;margin-top:-0.9cm">Student</h5>
    </div>

</div>
    </body>


    