
<h4>Hi {{headMasterDetail.name}},Welcome to School<button type =submit (click)="back()" class="btn btn-secondary">LOGOUT</button></h4>

<div class="sidenav">
    <a routerLink ="addclass" routerLinkActive="active">Add Classes</a>
    <a routerLink ="viewclass" routerLinkActive = "active">View Classes</a>
    <a routerLink ="viewpasspercentage" routerLinkActive = "active">View Pass Percentage</a>
    <a routerLink ="addstudent" routerLinkActive = "active">Add Students</a>
    <a routerLink ="viewstudent" routerLinkActive = "active">View Students</a>
    <a routerLink ="viewresult" routerLinkActive = "active">View Results</a>
    <a routerLink ="addsubject" routerLinkActive = "active">Add Subjects</a>
    <a routerLink ="assignsubject" routerLinkActive = "active">Assign Subjects To Classes</a>
    <a routerLink ="viewassignsubject" routerLinkActive = "active">View Assigned Subjects</a>
    <a routerLink ="assignteachersubject" routerLinkActive = "active">Assign Teachers To Subject</a>
    <a routerLink ="viewprofile" routerLinkActive = "active">View Profile</a>
    <a routerLink ="changepassword" routerLinkActive = "active">Reset Password</a>
</div>
<router-outlet></router-outlet>
