
<h4>HEADMASTER PORTAL<button type =submit (click)="back()" class="btn btn-secondary">LOGOUT</button></h4>

<div class="sidenav">
    <a routerLink ="addclass">Add ClassRoom</a>
    <a routerLink ="viewclass">View Classes</a>
    <a routerLink ="addstudent">Add Students</a>
    <a routerLink ="viewstudent">View Students</a>
    <a routerLink ="viewresult">View Result</a>
    <a routerLink ="viewprofile">View Profile</a>
    <a routerLink ="addsubject">Add Subject</a>
    <a routerLink ="assignsubject">Assign Subject</a>
    <a routerLink ="viewassignsubject">View Assigned Subject</a>
    <a routerLink ="assignteachersubject">Assign Teacher Subject</a>
</div>
<router-outlet></router-outlet>
